*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: 'Lato', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-background-color);
}

/* root theme attributes */
:root {
  --dark-color: #272a31;
  --main-theme-color: #ec5242;
  --main-background-color: #fff;
  --white-color: #fff;
  --grey-color: #d3d3d3;
  --light-grey-color: #ecebeb;
}

/* toolbar section| header */
.toolbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
}

.toolbar-menu {
  width: 100%;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.hamburger {
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 1;
  color: var(--dark-color);
}

.menu-list {
  display: none;
}

/* Mobile Menu */
.hidden {
  display: none;
}

.mobile-menu {
  position: fixed;
  width: 100%;
  left: 0;
  background-color: var(--white-color);
  z-index: 1;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
  overflow-y: hidden;
  height: calc(100vh - 50px);
  top: 0;
  padding: 40px;
  box-shadow: 0 4px 8px rgba(37, 47, 137, 0.08);
}

.mobile-menu-container {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 100%;
  height: 100px;
}

.mobile-menu-list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 60px;
}

.mobile-menu-list-items {
  list-style: none;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
  margin-top: 30px;
  margin-left: 30px;
  text-decoration: none;
}

.mobile-menu-list-items a {
  text-decoration: none;
  color: var(--mobile-items-color);
}

.close-btn {
  position: absolute;
  margin: 10px;
  top: 60px;
  right: 20px;
  display: flex;
  justify-content: flex-end;
  cursor: pointer;
}

/* Mobile Menu END */

/* menu */
.menu-container {
  display: none;
}

.social-navbar {
  display: none;
}

/* hero section|STARt */
#hero-section {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2px;
  background-size: cover;
  top: 0;
  margin-bottom: 10px;
}

.hero-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  background-image: url(./assets/images/mobile/about-bg-mobile.png);
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
  height: 50vh;
  margin-top: -30px;
}

.hero-content-container {
  display: flex;
  flex-direction: column;
  margin-top: -10px;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 15%;
  width: 100%;
  max-width: 100%;
}

.hero-content-container h1 {
  font-weight: 900;
  font-size: 30px;
  color: var(--main-theme-color);
  white-space: nowrap;
}

.hero-content-container h2 {
  white-space: nowrap;
  font-size: 20px;
  font-weight: normal;
  color: var(--main-theme-color);
}

.hero-content-container span {
  display: block;
  font-size: 30px;
  margin-top: 5px;
}

.description-container {
  flex-direction: column;
  width: 100%;
  margin-top: 23%;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-bottom: 30px;
}

.description-container p {
  background-color: var(--white-color);
  color: var(--dark-color);
  text-align: center;
  margin-top: 10px;
}

.contact-info {
  background-color: var(--light-grey-color);
  color: var(--dark-color);
  width: 100%;
  margin-right: 2px;
  margin-left: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex-direction: column;
}

.contact-info h3 {
  font-size: 12px;
}

.contact-info p {
  font-size: 12px;
}

/* header-section end  */

/* creative section */

#creative-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  height: 80vh;
  margin-top: -55px;
}

.creative-container {
  margin: 0 10px 10px;
}

.creative-container h1 {
  position: relative;
  font-style: normal;
  font-size: 30px;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 5px;
  padding: 1rem;
  margin-top: -250px;
}

.section-indicator {
  position: absolute;
  width: 48px;
  height: 4px;
  background-color: var(--main-theme-color);
  left: 50%;
  transform: translateX(-50%);
  border-radius: 24px;
  margin-bottom: 20px;
}

/* program content */
.creative-content {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding: 11px 12px;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.creative-logo-card {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100px;
  width: 100%;
  background-color: var(--white-color);
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.creative-logo-card img {
  width: 100%;
  height: 100px;
}

/* creative-section END  */

/* past section */

/* pasts section START */
#past-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--white-color);
  height: 80vh;
  margin-top: -100px;
}

.past-container {
  margin: 0 10px 10px;
}

.past-container h1 {
  position: relative;
  font-style: normal;
  font-size: 30px;
  color: var(--dark-color);
  text-align: center;
  margin-bottom: 5px;
  padding: 1rem;
  margin-top: -350px;
}

/* program content */
.past-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 3fr));
  margin-top: 30px;
  padding: 11px 12px;
  gap: 5px;
  justify-content: center;
  align-items: center;
}

.description {
  margin: 0;
  margin-right: 10px;
  margin-left: 10px;
  margin-bottom: 10px;
  font-size: 12px;
  color: black;
  margin-top: 18px;
}

.past-content p span {
  display: block;
  white-space: normal;
  margin-top: 5px;
}

.card-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin-bottom: 20px;
  height: 200px;
  width: 100%;
  background-color: rgba(236, 82, 66, 0.8);
}

.card-container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  opacity: 0.3;
}

.card-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
  color: white;
  font-weight: 900;
}

.card-content h2 {
  font-size: 30px;
  margin-bottom: 10px;
}

.card-content p {
  font-size: 16px;
}

.past-card-icon {
  height: auto;
  margin: 0;
  padding: 0;
  justify-content: space-around;
}

.past-card-content {
  display: grid;
  grid-template-columns: 1fr 1fr auto;
  grid-template-rows: auto;
  grid-column-gap: 10px;
  width: 355px;
  height: auto;
  color: var(--white-color);
  align-items: center;
  justify-content: center;
}

/* past section END */

/* partner section */
#partner-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--dark-color);
  height: 50vh;
  margin-bottom: -50px;
  margin-top: -80px;
}

.partner-container {
  margin: 0 10px 10px;
}

.partner-container h1 {
  position: relative;
  font-style: normal;
  font-size: 30px;
  color: var(--white-color);
  text-align: center;
  margin-bottom: 5px;
  padding: 1rem;
  margin-top: -160px;
}

.partner-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(355px, 3fr));
  margin-top: 30px;
  padding: 11px 12px;
  gap: 20px;
  align-items: center;
  justify-content: flex-start;
}

.top-row {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.bottom-row {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  gap: 46px;
}

/* partner section END */

/* footer section START */
#footer-section {
  background-color: white;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}

.footer-column {
  display: flex;
  align-items: center;
}

.footer-column img {
  margin: 0;
  max-width: 80%;
  height: auto;
  padding: 10px;
}

.footer-column p {
  margin: 0;
  font-size: 12px;
  color: black;
  white-space: nowrap;
  padding: 10px;
}

.footer-column p:last-child {
  margin-top: 5px;
  margin-right: 20px;
}

.footer-column p span {
  display: block;
  white-space: normal;
  margin-top: 5px;
}

/* footer section END */

/* Desktop Media Queries */
@media only screen and (min-width: 768px) {
  .social-navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
    display: block;
    justify-content: space-between;
  }

  .social-icons {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }

  .social-icon-menu {
    color: white;
    font-size: 12px;
    margin-right: 10px;
    margin-left: 10px;
    text-decoration: none;
  }

  /* toolbar- START  */
  .toolbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 40px;
    height: 50px;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
    box-shadow: 0 2px 4px rgba(23, 23, 23, 0.2);
  }

  .toolbar-menu {
    width: 100%;
  }

  .hamburger {
    display: none;
  }

  .logo {
    background: url(./assets/images/logo.svg);
    background-position: left center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 100px;
    height: 100px;
    margin-left: 120px;
  }

  /* menu-section START  */
  .menu-list {
    position: relative;
    z-index: 3;
    display: flex;
    gap: 1em;
    align-items: center;
    justify-content: center;
    list-style: none;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
  }

  .menu-list li {
    cursor: pointer;
    transition: transform 0.3s;
  }

  .menu-list li a {
    text-decoration: none;
    color: var(--menu-items-color);
    font-weight: 600;
    line-height: 20px;
    font-style: normal;
    display: flex;
    align-items: center;
  }

  .menu-item {
    position: relative;
  }

  .menu-item:last-child {
    border: 4px solid var(--main-theme-color);
    padding: 8px;
    border-radius: 4px;
    margin-right: -273px;
    margin-left: 390px;
  }

  .mobile-menu {
    display: none;
  }

  .mobile-menu-list-items .active-item {
    color: var(--main-theme-color);
  }

  /* menu-section end  */

  /* hero-section   */
  #hero-section {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2px;
    background-size: cover;
    top: 0;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  .hero-container {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 5px;
    background-image: url(./assets/desktop/hero-bg-desktop.png);
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
    height: 100vh;
    width: 100%;
    margin-top: 5px;
  }

  .hero-content-container {
    width: 70%;
    margin-left: 10px;
    margin-right: 50px;
    margin-top: -20px;
    margin-bottom: 30px;
  }

  .hero-content-container h1 {
    font-weight: 900;
    font-size: 50px;
    color: var(--main-theme-color);
  }

  .hero-content-container h2 {
    visibility: hidden;
  }

  .hero-content-container span {
    display: block;
    font-size: 50px;
    margin-top: 5px;
  }

  .description-container p {
    border: 2px solid var(--grey-color);
    justify-content: center;
    margin: 5px 2px 2px;
    background-color: var(--white-color);
    color: var(--dark-color);
    padding: 50px;
    margin-top: -60px;
  }

  .date-venue {
    color: var(--dark-color);
    width: 100%;
    margin-right: 2px;
    margin-left: 2px;
  }

  .date-venue h3 {
    font-size: 30px;
  }

  .date-venue p {
    font-size: 30px;
  }

  .contact-info {
    background-color: transparent;
    color: var(--dark-color);
    width: 100%;
    margin-right: 2px;
    margin-left: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
  }

  /* hero-section END  */

  /* creative section */

  #creative-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    height: 50vh;
    margin-top: 10px;
  }

  .creative-container {
    margin: 0 10px 10px;
  }

  .creative-container h1 {
    position: relative;
    font-style: normal;
    font-size: 30px;
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 5px;
    padding: 1rem;
    margin-top: -100px;
  }

  .section-indicator {
    position: absolute;
    width: 48px;
    height: 4px;
    background-color: var(--main-theme-color);
    left: 50%;
    transform: translateX(-50%);
    border-radius: 24px;
  }

  /* program content */
  .creative-content {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    padding: 11px 12px;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .creative-logo-card {
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 100px;
    width: 100%;
    background-color: var(--white-color);
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .creative-logo-card img {
    width: 300px;
    height: 100px;
  }

  /* creative-section END  */

  /* divider */

  .full-width-divider {
    position: relative;
    width: 100%;
    height: 1px;
    background-color: #fefefe;
    border-radius: 2px;
    margin-bottom: 30px;
  }

  /* divider END */

  /* partner section */
  #partner-section {
    visibility: hidden;
  }

  .partner-container {
    visibility: hidden;
  }

  /* partner section END */

  /* pasts section START */
  #past-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--white-color);
    height: 100vh;
    margin-top: -10px;
  }

  .past-container {
    margin: 0 10px 10px;
  }

  .past-container h1 {
    position: relative;
    font-style: normal;
    font-size: 30px;
    color: var(--dark-color);
    text-align: center;
    margin-bottom: 5px;
    padding: 1rem;
    margin-top: 20px;
  }

  /* program content */

  .past-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto 1fr;
    grid-column-gap: 15px;
    grid-row-gap: 0;
    margin-top: 20px;
    padding: 11px 12px;
    gap: 5px;
    justify-content: center;
    align-items: center;
  }

  .description {
    margin: 0;
    margin-right: 10px;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 20px;
    color: black;
    margin-top: 12px;
  }

  /* footer section START */
  #footer-section {
    background-color: var(--dark-color);
  }

  .footer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    padding: 20px;
  }

  .footer-column {
    display: flex;
    align-items: center;
  }

  .footer-column img {
    margin: 0;
    max-width: 80%;
    height: auto;
    padding: 10px;
  }

  .footer-column p {
    margin: 0;
    font-size: 12px;
    color: var(--white-color);
    white-space: nowrap;
    padding: 10px;
  }

  .footer-column p:last-child {
    margin-top: 5px;
    margin-right: 20px;
  }

  .footer-column p span {
    display: block;
    white-space: normal;
    margin-top: 5px;
  }

  /* footer section END */
}
